<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Working?</th>
    <th>Return Date</th>
  </tr>

<% @tools.each do |tool| %>
  <tr>
    <td><%= tool.name %></td>
    <td><%= tool.location_id %>
    <td><%= tool.working %></td>
    <td><%= tool.return_date %>
    <td>Show</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
<% end %>
</table>

<br />
